/*index.html*/
/* Inicio bloque 1 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header, .navbar-collapse {
  background-color: #7d0121;
}

.container-fluid {
  height: 120px !important;
}

.back-nav {
  background-color: #7d0121;
  font-family: "Montserrat", sans-serif !important;
  font-size: 17px !important;
}

header .bloque-nav {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: blanchedalmond !important;
}

.navbar-brand {
  padding-top: 13px;
  font-size: 25px !important;
}

/** transiciones menu**/
.inicio:hover::after, .carta:hover::after {
  width: 4.5%;
}

.sale:hover::after {
  width: 3.5%;
}

.nosotros:hover::after, .contacto:hover::after {
  width: 7.6%;
}

.rrhh:hover::after {
  width: 4%;
}

.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: blanchedalmond;
  position: absolute;
  transition: width 0.3s;
}

/* Fin bloque 1 */
/* Inicio bloque 2 */
.parrafo-1 {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-around right;
  color: blanchedalmond;
  text-align: right;
  font-size: 50px;
}

.parrafo-1:hover {
  animation: texto 5s;
  transition: all 2s;
  transform: none;
}

@keyframes texto {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-conteiner {
  display: flex;
}

.flex-item {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-image: url(../multimedia/imagen-1.jpg);
  align-items: center;
  margin-bottom: 0px;
}

/* Fin bloque 2 */
.corte1, .corte1-item {
  background-color: #7d0121;
  height: 300px;
  font-family: "Montserrat", sans-serif;
  color: blanchedalmond;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
}

/*inicio bloque3*/
.parrafo-2, .parrafo-3 {
  font-family: "Montserrat", sans-serif;
  color: blanchedalmond;
}

.parrafo-3, .parrafo-2 {
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.parrafo-2 {
  justify-content: left;
}

.parrafo-3 {
  justify-content: center;
}

.bloque-4-container, .bloque-5-container {
  display: flex;
}

.bloque-5-item, .bloque-4-item {
  width: 100%;
  height: 700px;
  background-size: cover;
  align-items: center;
  margin-bottom: 0px;
  display: flex;
}

.bloque-4-item {
  background-image: url(../multimedia/imagen-2.jpg);
}

.bloque-5-item {
  background-image: url(../multimedia/imagen-3.jpg);
}

/*fin bloque 3*/
/* inicio del footer*/
footer {
  font-size: 15px;
  display: flex;
  background-color: #7d0121;
  font-family: "Montserrat", sans-serif;
  color: blanchedalmond;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  border: 40px solid #7d0121;
}

.column-1, .column-2, .column-3 {
  width: 100%;
}

li {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 13px solid #7d0121;
}

/*fin del footer*/
/*carta.html*/
/* Inicio carta.html */
.encabezado-section {
  height: 300px;
  background-size: cover;
  background-image: url(../../multimedia/encabezado-carta.jpg);
  background-position: 60% 70%;
}

.encabezado-alto {
  height: 300px;
}

.h1-section {
  color: #7d0121;
}

.div-carta a {
  text-decoration: none;
  color: #7d0121;
}

.div-carta {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  height: 10rem;
  display: flex;
  border: 3px solid #7d0121;
}

.cabernet, .malbec, .blanco {
  color: #7d0121;
  justify-content: center;
  align-items: center;
}

.container {
  padding-bottom: 10px;
}

/* Fin bloque 1 de carta*/
/* mediaquery mobile */
@media only screen and (max-width: 800px) {
  .conteiner1 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 900px 900px 900px;
  }
}
@media only screen and (max-width: 800px) {
  .container-fluid {
    background-color: #7d0121;
  }
}
/*sale.html*/
/* Inicio de body-sale */
.h1-sale {
  font-family: "Montserrat", sans-serif;
  color: #7d0121;
  font-size: 50px;
}

.parrafo-sale {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

/* Fin de body-sale */
/* Inicio footer-sale */
.footer-container-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #7d0121;
}

.footer-sale {
  background-color: #7d0121;
  color: blanchedalmond;
  height: 120px;
  width: 100%;
  text-align: center;
}

.p-footer-sale-2 {
  border: 2px solid white;
  font-size: 20px;
  align-items: center;
}

/* Fin footer-sale */
/* Fin de sale.html */
/*nosotros.html*/
/* Inicio bloque 1-nosotros */
.imagen-1-nosotros, .imagen-carrousel, .boton, .boton:hover, .header {
  width: 100%;
}

.header {
  float: left;
}

.boton, .boton:hover {
  background-color: beige;
  color: #7d0121;
  float: right;
}

.imagen-carrousel {
  width: 100%;
  height: 600px;
  padding-bottom: 20px;
}

.imagen-1-nosotros {
  height: 500px;
}

/* Fin bloque1-nosotros */
/* Inicio bloque 2- nosotros */
.imagen-grid-nosotros {
  width: 120%;
  height: 450px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imagen-grid-nosotros2 {
  width: 108.5%;
  height: 500px;
  padding-left: 40px;
  padding-right: 11px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.imagen-grid-nosotros3 {
  width: 108.5%;
  height: 500px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imagen-grid-nosotros4 {
  width: 120%;
  height: 500px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Fin de bloque 2-nosotros */
/* Inicio footer-nosotros */
.footer-nosotros {
  background-color: #7d0121;
  color: blanchedalmond;
  padding: 100px;
}

/* Fin footer-nosotros */
/*trabajaconnosotros.html*/
/* Inicio tcn */
.form-container {
  margin: 10px 10px 10px 30px;
}

/* Fin tcn */
/*contacto.html*/
/* Inicio contacto.html */
.label-contacto, .h1-contacto {
  color: #7d0121;
  font-family: "Montserrat", sans-serif;
}

.formulario {
  border: 3px solid #7d0121;
}

/* Fin contacto.html */

/*# sourceMappingURL=style.css.map */
