
/* Inicio carta.html */
 
* {
    margin: 0px;
    padding: 0px;
}

/* Inicio bloque 1 de carta*/

.container-fluid {
    background-color: #7d0121;
    font-family: 'Rajdhani', sans-serif;
    height: 150px;
    font-size: 25px;  
}

.nav-link {
    color: blanchedalmond !important;
}

.navbar-brand {
    font-size: 38px;
    color: blanchedalmond !important;
    font-family: "Montserrat", sans-serif;   
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* Fin bloque 1 de carta*/




