/* Inicio bloque 2 de carta */

$align: center;
$flex-direction: column;   


a {
    color: #7d0121;
    text-decoration: none;
}

.div1, .div2, .div3{
    display: flex;
}

.cabernet {
    justify-content: left;
    align-items: $align;
    flex-direction: $flex-direction;
    padding-left: 0px;
    padding-top: 0px;
}

.cabernet1 {
    justify-content: center;
    align-items: $align;
    flex-direction: $flex-direction;
    font-size: 60px;
    text-decoration: none;
    z-index: 7;
    padding-top: 120px;
    padding-left: 60px;

}
.cabernet1:hover, .malbec1:hover, .vblanco1:hover {
    color: #7d0121;
}

.malbec1 {
    justify-content: right;
    align-items: $align;
    flex-direction: $flex-direction;
    font-size: 60px;
    padding-top: 120px;
    padding-left: 300px;
    z-index: 7;
}
.malbec {
    padding-left: 300px;
    padding-top: 20px;
    justify-content: right;
    align-items: $align;
    flex-direction: $flex-direction;
    flex-wrap: wrap;
}

.vblanco {
    justify-content: left;
    align-items: $align;
    flex-direction: $flex-direction;
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
   

}

.vblanco1 {
    justify-content: center;
    align-items: $align;
    flex-direction: $flex-direction;
    font-size: 60px;
    text-decoration: none;
    z-index: 7;
    padding-top: 120px;
    padding-left: 200px;

}




/* Fin bloque 2 de carta */