/* mediaquery mobile */
@media only screen and (max-width: 800px) {
    .conteiner1 {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 900px 900px 900px;
    }
}

@media only screen and (max-width:800px) {
    .container-fluid {
        background-color: #7d0121;
    }
}