/* Inicio bloque 1-nosotros */

.contenedor-parrafo {
    margin: auto !important;
}


.parrafo-nosotros {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin: auto !important;
}

.h1-nosotros {
    color: #7d0121;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    border-bottom: 1px solid #7d0121;
}

/*media query*/

@media only screen and (max-width: 991px) {
    .parrafo-1-nosotros {
        border-bottom: 1px solid #7d0121;
    }
}
/* Fin bloque1-nosotros */
