/* Inicio bloque 2- nosotros */
.imagen-grid-nosotros {
    width: 120%;
    height: 450px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagen-grid-nosotros2 {
    width: 108.5%;
    height: 500px;
    padding-left: 40px;
    padding-right: 11px;
    padding-top: 20px;
    padding-bottom: 50px;

}

.imagen-grid-nosotros3 {
    width: 108.5%;
    height: 500px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imagen-grid-nosotros4 {
    width: 120%;
    height: 500px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}



/* Fin de bloque 2-nosotros */