/* Inicio bloque 1-nosotros */


%width {
    width: 100%;
}
.header {
    float: left;
   @extend %width;

}

.boton, .boton:hover {
   background-color:beige;
   color: #7d0121;
   @extend %width;
   float: right;  
}
.contenedor-parrafo {
    margin: auto !important;
}


.parrafo-nosotros {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin: auto !important;
    
    
    
}


.h1-nosotros {
    color: #7d0121;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    border-bottom: 1px solid #7d0121;
}






/* Fin bloque1-nosotros */
