/* Inicio bloque 1-nosotros */


%width {
    width: 100%;
}
.header {
    float: left;
   @extend %width;

}

.boton, .boton:hover {
   background-color:beige;
   color: #7d0121;
   @extend %width;
   float: right;  
}

$height: 1000px;

.imagen-carrousel {
    @extend %width; width:100%;
   height: $height - 400px;
   padding-bottom: 20px;
}


.imagen-1-nosotros {
    @extend %width;
   height: $height - 500px;
}

/* Fin bloque1-nosotros */
