
/*BLOQUE 2 DE INDEX*/
.corte1, .corte1-item{
    background-color: #7d0121;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    color: blanchedalmond;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 55px;
     
}

/*MEDIA QUERY*/
@media only screen and (max-width: 660px) {
    .corte1-item {
        font-size: 40px;
    }
}

/*FIN BLOQUE 2 DE INDEX*/

