/* Inicio bloque 4 */
.bloque-6 {
    background-color: #7d0121;
    font-family: 'Montserrat', sans-serif;
    color: blanchedalmond;
    padding: 20px 20px;
    
}

.footer-container{
    display: flex;
}


.p-footer{
    justify-content: center;
    align-items: center;
    border-radius: 10px white;
}



.p-footer-2 {
    text-align: center;
}
.lista {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    }

.display2 {
    display: inline-block;
     color: blanchedalmond;
}
/* Fin bloque 4 */
