/* inicio del footer*/
footer {font-size: 15px;
    display: flex;
    background-color: #7d0121;
    font-family: 'Montserrat', sans-serif;
    color: blanchedalmond;
    width: 100%;
    padding-top: 0!important;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    border: 30px solid #7d0121;
}
.column-1, .column-2, .column-3 {
    width: 100%;   
}

li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 13px solid #7d0121;   
}

/*fin del footer*/
