/* Inicio bloque 1 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #7d0121;
}
.container-fluid {
    height: 120px !important;
}

.back-nav {
    background-color: #7d0121;
    font-family: "Montserrat", sans-serif !important;
    font-size: 17px !important;

}

header .bloque-nav {
    padding: 0;

}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
    color: blanchedalmond;
}
.navbar-brand {
    padding-top: 13px ;
    font-size: 25px !important;
}

/* Fin bloque 1 */
