/* Inicio bloque 1 */
.container, .navbar-nav, .nav-item, .nav-link {
    color: blanchedalmond !important;
    background-color: #7d0121 !important;
    font-family: 'Montserrat', sans-serif !important;
}




/* Fin bloque 1 */
