/* Inicio de body-sale */
.h1-sale {
    font-family: 'Montserrat', sans-serif;
    color: #7d0121;
    font-size: 50px;
}
.parrafo-sale {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}


/* Fin de body-sale */