 /* Inicio footer-sale */
 .footer-container-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #7d0121;
}

.footer-sale {
    background-color: #7d0121;
    color: blanchedalmond;
    height: 120px;
    width: 100%;
   text-align: center;
}

.p-footer-sale-2 {
    border: 2px solid white;
    font-size: 20px;
    align-items: center;
    
}

/* Fin footer-sale */

/* Fin de sale.html */