 /* Inicio tcn */

 .transition-rrhh::before {
    content: "";
    display: block;
    border: 3px solid #7d0121;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
    transition: clip-1 2s;
    animation: clip-1 3s ease forwards;
}


@keyframes clip-1 {
    0% {
        clip-path: var(--clippy);
    }

    100% {
        clip-path:var(--clippy2);
    }
    

}



 /* Fin tcn */